body{
  background-color: lightblue;
}

p{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.div-button{
  display: flex;
  justify-content: center;
}

button{
  font-weight: 600;
  border-style: solid;
  border-color: black;
  width: 200px;
  height: 40px;
}

.title{
  font-size: 35px;
}

.reward-text{
  margin-top: 60px;
  font-size: 20px;
}

input{
  margin-top: 30px;
  width: 300px;
  height: 30px;
  text-align: center;
  font-size: 15px;
}